body {
    font-family: sans-serif;
}

.wrapper {
    margin:0 auto;
    width:800px;
}
.tabs-nav {
    display:flex;
    justify-content: space-between;
}
.tabs-nav__item {
    border-bottom: 1px solid transparent;
    padding: 20px;
    cursor: pointer;
    flex:1;
}
.tabs-nav__item.is-active {
    border-color: #55a32a;
}
.tab {
    display: none;
    background: #f2f2f2;
    padding: 20px;
}
.tab.is-active {
    display: block;
}